.template-teacher_survy td, .template-school_survy td {border: 1px solid}

.template-teacher_survy td select { float:left; }
.template-teacher_survy td.title {background: #aad6ea; white-space:nowrap; padding-right:5px}
.template-teacher_survy td.title p { padding: 5px 0 0 15px}
.template-teacher_survy td input, .template-teacher_survy td select { margin: 5px}
.template-teacher_survy td input.email { width: 50%}
.template-teacher_survy td input.address { width: 50%}

.template-teacher_survy .langlist input {width: 100px}
.template-teacher_survy .langlist input.other {width: 300px}
.template-teacher_survy .langlist .rank {float:left; margin:8px 5px 5px 5px}
.template-teacher_survy .langlist input.checkbox {width: 20px; margin-right: 30px}





.template-school_survy td.title {background: #aad6ea; white-space:nowrap; padding-right:5px}
.template-school_survy td.title p { padding: 5px 0 0 15px}
.template-school_survy td input, .template-school_survy td select { margin: 5px}
.template-school_survy td input.email { width: 50%}

.template-school_survy .langlist input {width: 100px}
.template-school_survy .langlist input.other {width: 300px}
.template-school_survy .langlist .rank {float:left; margin:8px 5px 5px 5px}

/* Resource: ++resource++plone.app.event/event.css */
.icons-on .contenttype-plone-app-event-dx-event{background:url("event_icon.png") no-repeat scroll 0 4px transparent}.icons-on .contenttype-plone-app-event-dx-event{line-height:2em;display:inline-block;*display:block;padding-left:20px !important}.event.summary{float:right;clear:right;margin 1em 0 1em 1em}article.vevent a.event_ical img{vertical-align:baseline;height:1em;width:auto;color:#007bb3}.vevent div.cal_date{float:left;vertical-align:top;text-align:center;margin:42px 1.5em .5em 0;background-color:#fff;border-radius:.5em;min-width:4.4em}.vevent span.cal_wkday{display:block;font-size:1em;font-weight:normal;padding-bottom:.3em}.vevent span.cal_day{font-size:1.7em;display:block;padding-top:.3em}.vevent span.cal_month{font-size:1.1em;line-height:1.3em;background:#007bb3;display:block}.vevent div.cal_info{margin-left:9em}#content .vevent ul.metadata{margin:.8em 0}#content .vevent ul.horizontal{padding:0}#content .vevent ul.horizontal li{display:inline-block;line-height:1.5em;list-style-image:none;list-style-type:none}.vevent .horizontal.metadata li:after{content:" "}.vevent .horizontal.metadata li:last-child:after{content:""}.vevent .horizontal.metadata .category span:after{content:","}.vevent .horizontal.metadata .category span:last-child:after{content:""}.vevent .timezone{display:block;margin-top:.5em;padding:.2em 0;background-color:#ffe;color:#354;width:100%}.vevent .timerange,.vevent .timezone{font-size:85%;line-height:1em;white-space:nowrap}.vevent .datedisplay{line-height:1.5em;margin-bottom:.2em;font-size:100%}.template-event_listing .documentFirstHeading{position:relative}.template-event_listing .documentFirstHeading nav{font-size:14px;position:absolute;right:0;bottom:13px}.template-event_listing .documentFirstHeading nav ul{margin:0;list-style-type:none}.template-event_listing ul.mode_selector{display:block;margin-left:0;list-style-type:none}.template-event_listing ul.mode_selector li{display:inline}.template-event_listing nav ul.mode_selector li a{display:inline-block;margin-left:.5em}.template-event_listing nav ul.mode_selector li a:hover,.template-event_listing nav ul.mode_selector li a:focus{text-decoration:underline;border-bottom:0}.portletCalendar{width:auto;margin:1px 0 1em 0}.portletCalendar dt{background-color:#eee;font-weight:bold;text-align:center;line-height:1.6em;border-bottom:none}.portletCalendar dd{margin:0;padding:0}.portletCalendar dt a.calendarPrevious{float:left;padding:0 1em;margin:0 -0.5em}.portletCalendar dt a.calendarNext{float:right;padding:0 1em;margin:0 -0.5em}.portletCalendar a.calendarNext,.portletCalendar a.calendarPrevious{color:inherit}.portletCalendar a,.portletCalendar a:focus,.portletCalendar a,.portletCalendar a:hover,.ploneCalendar a{text-decoration:none;border-bottom:none !important}.ploneCalendar{border-spacing:0;width:100%}.ploneCalendar td{background-color:transparent;width:14%;text-align:center;padding:2px;border:2px solid #eee;background-color:#eee}.ploneCalendar .weekdays th{background-color:#eee;text-align:center;padding:2px}.ploneCalendar .event{background-color:#eee}.ploneCalendar .todayevent{background-color:#eee;border:2px solid #205c90}.ploneCalendar .todaynoevent{border:2px solid #205c90}.ploneCalendar td.today{background-color:#fff;border-color:#205c90}.ploneCalendar td:hover{background-color:#fff}.ploneCalendar td a{display:inline-block;width:100%;height:100%}.ploneCalendar td.cal_prev_month,.ploneCalendar td.cal_next_month{opacity:.4}.pae_calendar_tooltip{display:none;background-color:#fff;border:1px solid #000;border-radius:.3em;box-shadow:.1em .1em .1em #000;font-size:80%;padding:10px;margin:10px;max-width:30em;z-index:10}.pae_calendar_tooltip a{color:#000;display:block;width:100%}.pae_calendar_tooltip a:hover{color:blue}.pae_calendar_tooltip a .title{font-weight:bold}







.course-related li {
    float: right;
    font-size: 16px;
    list-style: none;
    padding: 3px 10px;
}

.vacation-True {
    color:red;
}
figure.newsImageContainer {
    margin: 10px;
    padding: 8px;
    background: #ccc;
    box-shadow: 4px 4px 3px rgba(20%,20%,40%,0.5);
}
figure.newsImageContainer figcaption {
    padding: 3px;
}
#teacher-rollcall b {
    font-size: 20px;
}
#teacher-rollcall li {
    font-size: 18px;
    padding: 5px 0;
}
#teacher-rollcall li span.info {
    margin-right: 20px;
}

.template-pdf_embeded .rollcall {
    display: none;
}

.teacher-img {
    width:100%;
}
.template-teacher_listing .discreet {
    display:none
}
.template-event_listing .slider, .template-event_listing #three-icon-viewlet, .template-event_listing #announcement_viewlet,  .template-event_listing #active_highlights_viewlet {
    display:none
}
.template-event_listing article#content {
    margin-top: 15px;
}

.vevent.tileItem {
    height: 150px;
}
.vevent div.cal_date {
    margin: 12px 0 12px 12px;
}
.template-event_listing #content-core article {
    padding: 20px 0;
}
.template-event_listing #content-core article h2 {
    font-size: 22px;
}

#announcement_viewlet svg, #active_highlights_viewlet svg {
    vertical-align: middle;
}
#announcement_viewlet span.text, #active_highlights_viewlet span.text {
    margin-left: 10px;
    vertical-align: middle;
}
#announcement_viewlet svg {
    color:Red;
}
#announcement_viewlet .tr-list td {
    padding: 10px 0;
}
#three-icon-viewlet, #announcement_viewlet, #active_highlights_viewlet {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    box-shadow: 4px 4px 3px rgba(20%,20%,40%,0.5);
    margin-bottom: 20px; padding: 25px;
}
#active_highlights_viewlet {
    background: #a10d0d;
    color:#fff;
}

#active_highlights_viewlet .highlight img{
    width: 100%;
}


#three-icon-viewlet svg {
    color: #fff;
    background: #f10;
    padding: 8px;
    border:2px #ccc solid;border-radius:15px;
    vertical-align: middle;
    width: 70px;
}
#three-icon-viewlet .title {
    margin-left: 5px;
    font-size: 20px;
}
#three-icon-viewlet .info {
    margin-top: 15px;
    font-size: 16px;
}

.frontend.portaltype-plone-site .flexslider {border:0; margin-bottom:0}
.frontend.portaltype-plone-site .slider {margin-bottom: 20px}
.frontend.portaltype-plone-site .slider img {width: 100%}
.frontend.portaltype-plone-site .plone-navbar {margin-bottom: 0}
.frontend.portaltype-plone-site #portal-breadcrumbs {display:none}
.frontend .outer-wrapper {background: #D0DFE6;}
.frontend #content {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
.frontend #content h1.documentFirstHeading {
    background: #f2f1f1;
    font-weight: 500;
    font-size: 28px;
    padding: 13px 15px;
}
.frontend #content-core {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.65;
}

.frontend h1, .frontend header.portletHeader a {color:#C00000}

.frontend .portlet.portletRecent {box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);}
#portal-logo img {height:65px}
#content-header {padding:8px 0; background:url(http://apc.21cms.tw/images/website/hdbg.jpg)}
.frontend #portal-globalnav-wrapper {background-color:#a10d0d}
.frontend #portal-footer-wrapper {background-color:#a10d0d}

body {
    font-family: "Noto Sans TC", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* font-face */
/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}

/* announcenment table */
.border-dotted{
  margin: 25px 0 25px 0;
  border-bottom: 1px dotted #cdcdcd;
}

.border-solid{
  margin: 5px 0 5px 0;
  border-bottom: 1px solid #cdcdcd;
}

.announcement {
  font-family: "Noto Sans TC", Verdana,Arial,Helvetica,sans-serif;
}

.announcement .bold-title{
  font-weight: 700;
  font-size: 15px !important;
  color: #858585;
}

.announcement .title-border-bottom{
  margin: 5px 0 15px 0;
  border-bottom: 2px solid #E0DEDE;
} 

.announcement .publish-date, .announcement .publish-date a{
  color: #b8010e;
  font-size: 15px;
  list-style: square;
  margin: 5px !important;
  border: 0 !important;
  text-decoration: none;
}

.announcement .publish-date a:hover{
  color: #790009;
  text-decoration: underline;
}

.announcement a.title, .announcement .readmore a{
  font-weight: 700;
  font-size: 15px !important;
  color: #858585;
  border-bottom: 0 !important;
  text-decoration: none;
}

.announcement .readmore a{
  font-weight: unset;
}

.announcement a.title:hover, .announcement .readmore a:hover{
  color: #2a6496;
  text-decoration: underline;
}

.announcement ul{
  padding: 0;
}

.announcement table{
  border: 0;
}

.announcement table td{
  border: 0;
  border-bottom: 1px solid #cccccc;
  vertical-align: middle;
}

.announcement .readmore{
  color: #858585;
}

.frontend #content h1.documentFirstHeading {
    padding-bottom: 25px;
}

.schedule tr.tr-title {
    background: #6bd;
}

.schedule tr.tr-title th {
    text-align: center;
    padding: 10px;
}

.schedule tr.tr-body td.course {
    padding: 10px 10px 10px 30px;
}

.schedule tr.tr-body td.school {
    padding: 10px;
}

.schedule td, .schedule th {
    border: solid 1px;
}

.template-course_view .course-item {
  border-bottom: solid 1px #bbb;
  padding: 15px 10px;


    background-color:#eee;
    box-shadow:3px 3px 9px #333;
margin:20px -15px;

}

.template-course_view .video-item {
  padding: 30px 0;
}

.template-course_view .bottom-line {
  margin-bottom: 15px;
}

.template-course_view .bottom-line span{
  border-bottom: solid 2px #a10d0d;
}

.template-course_view .course-info {
  padding: 20px;
    background-color:#205880;
    color: #fff;
    box-shadow:3px 3px 9px #333;
}

.template-course_view .course-info a {
  color: yellow;
}

.template-course_view .course-info li {
  list-style: none;
}

.template-course_schedule th.course {
  width: 20%
}
.template-course_schedule th.weekday {
  width: 16%
}
.template-course_schedule td {
  vertical-align:middle;
}


.template-match_result .course-info div{
    margin: 15px;
    padding: 15px;
    background-color:#aaa;
    color: #fff;
    font-size: 18px;
    box-shadow:3px 3px 9px #333;
}

.template-match_result .course-info .confirm{
    float: right;
    font-size: 18px;
    margin: 0 8px;
}
